{deps, [
       {ibrowse,        ".*",           {git, "https://github.com/cmullaparthi/ibrowse.git",     {tag, "v4.0.1"}}},
       {jiffy,          ".*",   	{git, "https://github.com/davisp/jiffy",   	         {tag, "0.15.1"}}},
       {cowboy,         ".*",  	        {git, "https://github.com/ninenines/cowboy",             "master"}},
       {soap,  		".*", 		{git, "https://github.com/bet365/soap",     		 "master"}},
       {erlsom,         ".*",           {git, "https://github.com/willemdj/erlsom.git",          {tag, "v1.4.0"}}},
       {thrift,       ".*",      {git, "https://github.com/j14159/thrift",       "master"}}
   ]
}.
